<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "org.metasimian.lca"
        versionCode="10"
        version   = "1.1.0">

    <!-- versionCode is optional and Android only -->

    <name>Lulu's Childhood App</name>

    <description>
       Child's play....
    </description>

    <author href="http://metasimian.net" email="metasimian@gmail.com">
        Lulu C
    </author>
	<icon src="img/icon/artwork-source.png" />
</widget>
